#form{
    visibility: hidden;
}

#myimage{
    filter:blur(10px);
}

#name{
    margin-top:20px;
    font-size: 1.5em;
}

#hint{
    visibility: hidden;
}

.page-wrapper{
    margin: auto;
    width: 50%;
    background-color: #f6f4e8;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
}

.header{
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
}

.animeinfo{
    grid-row: 2;
    grid-column:1;
    text-align: center;
    margin-left:50px;
}

.interaction{
    grid-row:2;
    grid-column: 2;
    text-align: center;
    margin-right:50px;
}


.success{
    font-size: 3rem;
    color:green;
    text-align: center;
    width: fit-content;
    animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; 
}

#disHint{
    text-align: center;
}

.fail{
    animation: flicker 1.5s infinite alternate;
    font-size: 3rem;
    color:red;
    text-align: center;
    width: fit-content;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 7px white,
      0 0 10px white,
      0 0 21px white,
      0 0 42px red,
      0 0 82px red,
      0 0 92px red,
      0 0 102px red,
      0 0 151px red;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  @keyframes neon1 {
    from {
      box-shadow: 0 0 10px white,
                 0 0 20px  white,
                 0 0 30px  white,
                 0 0 40px  green,
                 0 0 70px  green,
                 0 0 80px  green,
                 0 0 100px green,
                 0 0 150px green;
    }
    to {
      box-shadow: 0 0 5px white,
                 0 0 10px white,
                 0 0 15px white,
                 0 0 20px green,
                 0 0 35px green,
                 0 0 40px green,
                 0 0 50px green,
                 0 0 75px green;
    }
  }